# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# Logs & databases
*.log
*.sqlite3

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node.js (if you use it)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / dist
dist/
build/
*.egg-info/

# Ignore SSH and private keys
id_ed25519
id_ed25519.pub
*.pem
*.key
